--
-- PostgreSQL database dump
--

\restrict Oye7p8cf48rYf8YpTRCr7yJbFQBlbZSpQMDVuOTqHHi9flcDePzEB1j1IvWZyDq

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dgs; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.dgs (
    id_dg integer NOT NULL,
    nombre_dg character varying(255) NOT NULL,
    siglas_dg character varying(50) NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true
);


ALTER TABLE public.dgs OWNER TO cocodi_user;

--
-- Name: dgs_id_dg_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.dgs_id_dg_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dgs_id_dg_seq OWNER TO cocodi_user;

--
-- Name: dgs_id_dg_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.dgs_id_dg_seq OWNED BY public.dgs.id_dg;


--
-- Name: directorio_contactos; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.directorio_contactos (
    id_contacto integer NOT NULL,
    id_institucion integer NOT NULL,
    id_tipo_organo integer,
    nombre_contacto character varying(255) NOT NULL,
    telefono character varying(40),
    extension character varying(10),
    email character varying(255),
    movil character varying(50),
    direccion text,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.directorio_contactos OWNER TO cocodi_user;

--
-- Name: directorio_contactos_id_contacto_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.directorio_contactos_id_contacto_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.directorio_contactos_id_contacto_seq OWNER TO cocodi_user;

--
-- Name: directorio_contactos_id_contacto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.directorio_contactos_id_contacto_seq OWNED BY public.directorio_contactos.id_contacto;


--
-- Name: evidencias; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.evidencias (
    id_evidencia integer NOT NULL,
    parent_id integer NOT NULL,
    parent_type character varying(50) NOT NULL,
    nombre_archivo character varying(255) NOT NULL,
    url_almacenamiento character varying(512) NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.evidencias OWNER TO cocodi_user;

--
-- Name: evidencias_id_evidencia_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.evidencias_id_evidencia_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.evidencias_id_evidencia_seq OWNER TO cocodi_user;

--
-- Name: evidencias_id_evidencia_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.evidencias_id_evidencia_seq OWNED BY public.evidencias.id_evidencia;


--
-- Name: informes; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.informes (
    id_informe integer NOT NULL,
    id_institucion integer NOT NULL,
    id_tipo_organo integer NOT NULL,
    id_tipo_informe integer NOT NULL,
    periodicidad character varying(50) NOT NULL,
    periodo_reportado character varying(50) NOT NULL,
    fecha_informe date NOT NULL,
    descripcion text,
    recomendaciones_emitidas integer DEFAULT 0 NOT NULL,
    recomendaciones_atendidas integer DEFAULT 0 NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.informes OWNER TO cocodi_user;

--
-- Name: informes_id_informe_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.informes_id_informe_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.informes_id_informe_seq OWNER TO cocodi_user;

--
-- Name: informes_id_informe_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.informes_id_informe_seq OWNED BY public.informes.id_informe;


--
-- Name: institucion_organos; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.institucion_organos (
    id_institucion integer NOT NULL,
    id_tipo_organo integer NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100)
);


ALTER TABLE public.institucion_organos OWNER TO cocodi_user;

--
-- Name: institucion_tipo_informe_valido; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.institucion_tipo_informe_valido (
    id_institucion integer NOT NULL,
    id_tipo_informe integer NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100)
);


ALTER TABLE public.institucion_tipo_informe_valido OWNER TO cocodi_user;

--
-- Name: instituciones; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.instituciones (
    id_institucion integer NOT NULL,
    nombre_institucion character varying(255) NOT NULL,
    siglas character varying(50),
    id_ramo integer NOT NULL,
    id_naturaleza integer NOT NULL,
    id_naturaleza_juridica integer NOT NULL,
    id_responsable integer NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true
);


ALTER TABLE public.instituciones OWNER TO cocodi_user;

--
-- Name: instituciones_id_institucion_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.instituciones_id_institucion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.instituciones_id_institucion_seq OWNER TO cocodi_user;

--
-- Name: instituciones_id_institucion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.instituciones_id_institucion_seq OWNED BY public.instituciones.id_institucion;


--
-- Name: naturalezas; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.naturalezas (
    id_naturaleza integer NOT NULL,
    nombre character varying(255) NOT NULL
);


ALTER TABLE public.naturalezas OWNER TO cocodi_user;

--
-- Name: naturalezas_id_naturaleza_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.naturalezas_id_naturaleza_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.naturalezas_id_naturaleza_seq OWNER TO cocodi_user;

--
-- Name: naturalezas_id_naturaleza_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.naturalezas_id_naturaleza_seq OWNED BY public.naturalezas.id_naturaleza;


--
-- Name: naturalezas_juridicas_desglose; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.naturalezas_juridicas_desglose (
    id_naturaleza_juridica integer NOT NULL,
    nombre character varying(255) NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true
);


ALTER TABLE public.naturalezas_juridicas_desglose OWNER TO cocodi_user;

--
-- Name: naturalezas_juridicas_desglose_id_naturaleza_juridica_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.naturalezas_juridicas_desglose_id_naturaleza_juridica_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.naturalezas_juridicas_desglose_id_naturaleza_juridica_seq OWNER TO cocodi_user;

--
-- Name: naturalezas_juridicas_desglose_id_naturaleza_juridica_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.naturalezas_juridicas_desglose_id_naturaleza_juridica_seq OWNED BY public.naturalezas_juridicas_desglose.id_naturaleza_juridica;


--
-- Name: ramos; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.ramos (
    id_ramo integer NOT NULL,
    numero_ramo character varying(10) NOT NULL,
    nombre_ramo character varying(255) NOT NULL,
    id_dg integer NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true
);


ALTER TABLE public.ramos OWNER TO cocodi_user;

--
-- Name: ramos_id_ramo_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.ramos_id_ramo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ramos_id_ramo_seq OWNER TO cocodi_user;

--
-- Name: ramos_id_ramo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.ramos_id_ramo_seq OWNED BY public.ramos.id_ramo;


--
-- Name: recomendaciones; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.recomendaciones (
    id_recomendacion integer NOT NULL,
    id_informe integer,
    id_institucion integer NOT NULL,
    id_tipo_organo integer NOT NULL,
    descripcion text NOT NULL,
    area_responsable_atencion character varying(255) NOT NULL,
    fecha_emision date NOT NULL,
    fecha_compromiso date,
    estatus character varying(50) DEFAULT 'Pendiente'::character varying NOT NULL,
    prioridad character varying(50) DEFAULT 'Media'::character varying,
    tipo_recomendacion character varying(100) DEFAULT 'Correctiva'::character varying,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.recomendaciones OWNER TO cocodi_user;

--
-- Name: recomendaciones_id_recomendacion_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.recomendaciones_id_recomendacion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.recomendaciones_id_recomendacion_seq OWNER TO cocodi_user;

--
-- Name: recomendaciones_id_recomendacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.recomendaciones_id_recomendacion_seq OWNED BY public.recomendaciones.id_recomendacion;


--
-- Name: responsables; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.responsables (
    id_responsable integer NOT NULL,
    nombre character varying(100) NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true
);


ALTER TABLE public.responsables OWNER TO cocodi_user;

--
-- Name: responsables_id_responsable_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.responsables_id_responsable_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.responsables_id_responsable_seq OWNER TO cocodi_user;

--
-- Name: responsables_id_responsable_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.responsables_id_responsable_seq OWNED BY public.responsables.id_responsable;


--
-- Name: sesiones; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.sesiones (
    id_sesion integer NOT NULL,
    id_institucion integer NOT NULL,
    id_tipo_organo integer NOT NULL,
    id_tipo_sesion integer NOT NULL,
    "a├▒o" integer NOT NULL,
    numero_ordinal integer,
    nombre_oficial_sesion character varying(255),
    estatus character varying(50) DEFAULT 'Programada'::character varying NOT NULL,
    fecha_programada date,
    fecha_realizada date,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.sesiones OWNER TO cocodi_user;

--
-- Name: sesiones_id_sesion_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.sesiones_id_sesion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sesiones_id_sesion_seq OWNER TO cocodi_user;

--
-- Name: sesiones_id_sesion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.sesiones_id_sesion_seq OWNED BY public.sesiones.id_sesion;


--
-- Name: tipos_informe; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.tipos_informe (
    id_tipo_informe integer NOT NULL,
    nombre_informe character varying(255) NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true
);


ALTER TABLE public.tipos_informe OWNER TO cocodi_user;

--
-- Name: tipos_informe_id_tipo_informe_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.tipos_informe_id_tipo_informe_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tipos_informe_id_tipo_informe_seq OWNER TO cocodi_user;

--
-- Name: tipos_informe_id_tipo_informe_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.tipos_informe_id_tipo_informe_seq OWNED BY public.tipos_informe.id_tipo_informe;


--
-- Name: tipos_organo_gobierno; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.tipos_organo_gobierno (
    id_tipo_organo integer NOT NULL,
    nombre character varying(255) NOT NULL,
    id_padre integer,
    fecha_creacion timestamp with time zone DEFAULT now(),
    usuario_creacion character varying(100),
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    usuario_actualizacion character varying(100),
    activo boolean DEFAULT true
);


ALTER TABLE public.tipos_organo_gobierno OWNER TO cocodi_user;

--
-- Name: tipos_organo_gobierno_id_tipo_organo_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.tipos_organo_gobierno_id_tipo_organo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tipos_organo_gobierno_id_tipo_organo_seq OWNER TO cocodi_user;

--
-- Name: tipos_organo_gobierno_id_tipo_organo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.tipos_organo_gobierno_id_tipo_organo_seq OWNED BY public.tipos_organo_gobierno.id_tipo_organo;


--
-- Name: tipos_sesion; Type: TABLE; Schema: public; Owner: cocodi_user
--

CREATE TABLE public.tipos_sesion (
    id_tipo_sesion integer NOT NULL,
    nombre_sesion character varying(100) NOT NULL,
    activo boolean DEFAULT true
);


ALTER TABLE public.tipos_sesion OWNER TO cocodi_user;

--
-- Name: tipos_sesion_id_tipo_sesion_seq; Type: SEQUENCE; Schema: public; Owner: cocodi_user
--

CREATE SEQUENCE public.tipos_sesion_id_tipo_sesion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tipos_sesion_id_tipo_sesion_seq OWNER TO cocodi_user;

--
-- Name: tipos_sesion_id_tipo_sesion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cocodi_user
--

ALTER SEQUENCE public.tipos_sesion_id_tipo_sesion_seq OWNED BY public.tipos_sesion.id_tipo_sesion;


--
-- Name: dgs id_dg; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.dgs ALTER COLUMN id_dg SET DEFAULT nextval('public.dgs_id_dg_seq'::regclass);


--
-- Name: directorio_contactos id_contacto; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.directorio_contactos ALTER COLUMN id_contacto SET DEFAULT nextval('public.directorio_contactos_id_contacto_seq'::regclass);


--
-- Name: evidencias id_evidencia; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.evidencias ALTER COLUMN id_evidencia SET DEFAULT nextval('public.evidencias_id_evidencia_seq'::regclass);


--
-- Name: informes id_informe; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.informes ALTER COLUMN id_informe SET DEFAULT nextval('public.informes_id_informe_seq'::regclass);


--
-- Name: instituciones id_institucion; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.instituciones ALTER COLUMN id_institucion SET DEFAULT nextval('public.instituciones_id_institucion_seq'::regclass);


--
-- Name: naturalezas id_naturaleza; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.naturalezas ALTER COLUMN id_naturaleza SET DEFAULT nextval('public.naturalezas_id_naturaleza_seq'::regclass);


--
-- Name: naturalezas_juridicas_desglose id_naturaleza_juridica; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.naturalezas_juridicas_desglose ALTER COLUMN id_naturaleza_juridica SET DEFAULT nextval('public.naturalezas_juridicas_desglose_id_naturaleza_juridica_seq'::regclass);


--
-- Name: ramos id_ramo; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.ramos ALTER COLUMN id_ramo SET DEFAULT nextval('public.ramos_id_ramo_seq'::regclass);


--
-- Name: recomendaciones id_recomendacion; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.recomendaciones ALTER COLUMN id_recomendacion SET DEFAULT nextval('public.recomendaciones_id_recomendacion_seq'::regclass);


--
-- Name: responsables id_responsable; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.responsables ALTER COLUMN id_responsable SET DEFAULT nextval('public.responsables_id_responsable_seq'::regclass);


--
-- Name: sesiones id_sesion; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.sesiones ALTER COLUMN id_sesion SET DEFAULT nextval('public.sesiones_id_sesion_seq'::regclass);


--
-- Name: tipos_informe id_tipo_informe; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.tipos_informe ALTER COLUMN id_tipo_informe SET DEFAULT nextval('public.tipos_informe_id_tipo_informe_seq'::regclass);


--
-- Name: tipos_organo_gobierno id_tipo_organo; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.tipos_organo_gobierno ALTER COLUMN id_tipo_organo SET DEFAULT nextval('public.tipos_organo_gobierno_id_tipo_organo_seq'::regclass);


--
-- Name: tipos_sesion id_tipo_sesion; Type: DEFAULT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.tipos_sesion ALTER COLUMN id_tipo_sesion SET DEFAULT nextval('public.tipos_sesion_id_tipo_sesion_seq'::regclass);


--
-- Data for Name: dgs; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--



--
-- Data for Name: directorio_contactos; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--

COPY public.directorio_contactos (id_contacto, id_institucion, id_tipo_organo, nombre_contacto, telefono, extension, email, movil, direccion, fecha_creacion, usuario_creacion, fecha_actualizacion, usuario_actualizacion, activo) FROM stdin;
1	25	\N	Mario Bola├▒os	5555555555	123	mbolanos@ab.gob.mx	5554498732		2025-10-23 00:33:57.500391+00	\N	2025-10-23 00:33:57.500391+00	\N	t
2	25	4	Karla Maldonado	5556575859	333	kmaldonado@ab.gob.mx	5554498733		2025-10-23 00:34:57.188674+00	\N	2025-10-23 00:34:57.188674+00	\N	t
\.


--
-- Data for Name: evidencias; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--

COPY public.evidencias (id_evidencia, parent_id, parent_type, nombre_archivo, url_almacenamiento, fecha_creacion, usuario_creacion, fecha_actualizacion, usuario_actualizacion, activo) FROM stdin;
\.


--
-- Data for Name: informes; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--



--
-- Data for Name: institucion_organos; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--



--
-- Data for Name: institucion_tipo_informe_valido; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--



--
-- Data for Name: instituciones; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--



--
-- Data for Name: naturalezas; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--

COPY public.naturalezas (id_naturaleza, nombre) FROM stdin;
1	Dependencia
2	Desconcentrado
3	Entidad
4	Intersecretarial
\.


--
-- Data for Name: naturalezas_juridicas_desglose; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--



--
-- Data for Name: ramos; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--



--
-- Data for Name: recomendaciones; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--

COPY public.recomendaciones (id_recomendacion, id_informe, id_institucion, id_tipo_organo, descripcion, area_responsable_atencion, fecha_emision, fecha_compromiso, estatus, prioridad, tipo_recomendacion, fecha_creacion, usuario_creacion, fecha_actualizacion, usuario_actualizacion, activo) FROM stdin;
\.


--
-- Data for Name: responsables; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--

COPY public.responsables (id_responsable, nombre, fecha_creacion, usuario_creacion, fecha_actualizacion, usuario_actualizacion, activo) FROM stdin;
1	Delegada	2025-10-22 21:54:56.056167+00	script_inicial	2025-10-22 21:54:56.056167+00	\N	t
2	Comisaria	2025-10-22 21:54:56.056167+00	script_inicial	2025-10-22 21:54:56.056167+00	\N	t
\.


--
-- Data for Name: sesiones; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--



--
-- Data for Name: tipos_informe; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--

COPY public.tipos_informe (id_tipo_informe, nombre_informe, fecha_creacion, usuario_creacion, fecha_actualizacion, usuario_actualizacion, activo) FROM stdin;
1	RAAD	2025-10-22 21:54:56.099354+00	script_inicial	2025-10-22 21:54:56.099354+00	\N	t
2	Informe de Autoevaluaci├│n	2025-10-22 21:54:56.099354+00	script_inicial	2025-10-22 21:54:56.099354+00	\N	t
3	Informe de Estados Financieros	2025-10-22 21:54:56.099354+00	script_inicial	2025-10-22 21:54:56.099354+00	\N	t
\.


--
-- Data for Name: tipos_organo_gobierno; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--



--
-- Data for Name: tipos_sesion; Type: TABLE DATA; Schema: public; Owner: cocodi_user
--

COPY public.tipos_sesion (id_tipo_sesion, nombre_sesion, activo) FROM stdin;
1	Ordinaria	t
2	Extraordinaria	t
\.


--
-- Name: dgs_id_dg_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.dgs_id_dg_seq', 1, false);


--
-- Name: directorio_contactos_id_contacto_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.directorio_contactos_id_contacto_seq', 2, true);


--
-- Name: evidencias_id_evidencia_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.evidencias_id_evidencia_seq', 1, false);


--
-- Name: informes_id_informe_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.informes_id_informe_seq', 105, true);


--
-- Name: instituciones_id_institucion_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.instituciones_id_institucion_seq', 1, false);


--
-- Name: naturalezas_id_naturaleza_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.naturalezas_id_naturaleza_seq', 1, false);


--
-- Name: naturalezas_juridicas_desglose_id_naturaleza_juridica_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.naturalezas_juridicas_desglose_id_naturaleza_juridica_seq', 1, false);


--
-- Name: ramos_id_ramo_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.ramos_id_ramo_seq', 1, false);


--
-- Name: recomendaciones_id_recomendacion_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.recomendaciones_id_recomendacion_seq', 1, false);


--
-- Name: responsables_id_responsable_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.responsables_id_responsable_seq', 1, false);


--
-- Name: sesiones_id_sesion_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.sesiones_id_sesion_seq', 393, true);


--
-- Name: tipos_informe_id_tipo_informe_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.tipos_informe_id_tipo_informe_seq', 1, false);


--
-- Name: tipos_organo_gobierno_id_tipo_organo_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.tipos_organo_gobierno_id_tipo_organo_seq', 1, false);


--
-- Name: tipos_sesion_id_tipo_sesion_seq; Type: SEQUENCE SET; Schema: public; Owner: cocodi_user
--

SELECT pg_catalog.setval('public.tipos_sesion_id_tipo_sesion_seq', 1, false);


--
-- Name: dgs dgs_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.dgs
    ADD CONSTRAINT dgs_pkey PRIMARY KEY (id_dg);


--
-- Name: dgs dgs_siglas_dg_key; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.dgs
    ADD CONSTRAINT dgs_siglas_dg_key UNIQUE (siglas_dg);


--
-- Name: directorio_contactos directorio_contactos_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.directorio_contactos
    ADD CONSTRAINT directorio_contactos_pkey PRIMARY KEY (id_contacto);


--
-- Name: evidencias evidencias_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.evidencias
    ADD CONSTRAINT evidencias_pkey PRIMARY KEY (id_evidencia);


--
-- Name: informes informes_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.informes
    ADD CONSTRAINT informes_pkey PRIMARY KEY (id_informe);


--
-- Name: institucion_organos institucion_organos_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.institucion_organos
    ADD CONSTRAINT institucion_organos_pkey PRIMARY KEY (id_institucion, id_tipo_organo);


--
-- Name: institucion_tipo_informe_valido institucion_tipo_informe_valido_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.institucion_tipo_informe_valido
    ADD CONSTRAINT institucion_tipo_informe_valido_pkey PRIMARY KEY (id_institucion, id_tipo_informe);


--
-- Name: instituciones instituciones_nombre_institucion_key; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.instituciones
    ADD CONSTRAINT instituciones_nombre_institucion_key UNIQUE (nombre_institucion);


--
-- Name: instituciones instituciones_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.instituciones
    ADD CONSTRAINT instituciones_pkey PRIMARY KEY (id_institucion);


--
-- Name: naturalezas_juridicas_desglose naturalezas_juridicas_desglose_nombre_key; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.naturalezas_juridicas_desglose
    ADD CONSTRAINT naturalezas_juridicas_desglose_nombre_key UNIQUE (nombre);


--
-- Name: naturalezas_juridicas_desglose naturalezas_juridicas_desglose_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.naturalezas_juridicas_desglose
    ADD CONSTRAINT naturalezas_juridicas_desglose_pkey PRIMARY KEY (id_naturaleza_juridica);


--
-- Name: naturalezas naturalezas_nombre_key; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.naturalezas
    ADD CONSTRAINT naturalezas_nombre_key UNIQUE (nombre);


--
-- Name: naturalezas naturalezas_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.naturalezas
    ADD CONSTRAINT naturalezas_pkey PRIMARY KEY (id_naturaleza);


--
-- Name: ramos ramos_numero_ramo_key; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.ramos
    ADD CONSTRAINT ramos_numero_ramo_key UNIQUE (numero_ramo);


--
-- Name: ramos ramos_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.ramos
    ADD CONSTRAINT ramos_pkey PRIMARY KEY (id_ramo);


--
-- Name: recomendaciones recomendaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.recomendaciones
    ADD CONSTRAINT recomendaciones_pkey PRIMARY KEY (id_recomendacion);


--
-- Name: responsables responsables_nombre_key; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.responsables
    ADD CONSTRAINT responsables_nombre_key UNIQUE (nombre);


--
-- Name: responsables responsables_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.responsables
    ADD CONSTRAINT responsables_pkey PRIMARY KEY (id_responsable);


--
-- Name: sesiones sesiones_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.sesiones
    ADD CONSTRAINT sesiones_pkey PRIMARY KEY (id_sesion);


--
-- Name: tipos_informe tipos_informe_nombre_informe_key; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.tipos_informe
    ADD CONSTRAINT tipos_informe_nombre_informe_key UNIQUE (nombre_informe);


--
-- Name: tipos_informe tipos_informe_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.tipos_informe
    ADD CONSTRAINT tipos_informe_pkey PRIMARY KEY (id_tipo_informe);


--
-- Name: tipos_organo_gobierno tipos_organo_gobierno_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.tipos_organo_gobierno
    ADD CONSTRAINT tipos_organo_gobierno_pkey PRIMARY KEY (id_tipo_organo);


--
-- Name: tipos_sesion tipos_sesion_nombre_sesion_key; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.tipos_sesion
    ADD CONSTRAINT tipos_sesion_nombre_sesion_key UNIQUE (nombre_sesion);


--
-- Name: tipos_sesion tipos_sesion_pkey; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.tipos_sesion
    ADD CONSTRAINT tipos_sesion_pkey PRIMARY KEY (id_tipo_sesion);


--
-- Name: sesiones uq_sesion_planeada; Type: CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.sesiones
    ADD CONSTRAINT uq_sesion_planeada UNIQUE (id_institucion, id_tipo_organo, "a├▒o", id_tipo_sesion, numero_ordinal);


--
-- Name: ramos fk_dg; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.ramos
    ADD CONSTRAINT fk_dg FOREIGN KEY (id_dg) REFERENCES public.dgs(id_dg) ON DELETE CASCADE;


--
-- Name: directorio_contactos fk_directorio_institucion; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.directorio_contactos
    ADD CONSTRAINT fk_directorio_institucion FOREIGN KEY (id_institucion) REFERENCES public.instituciones(id_institucion) ON DELETE CASCADE;


--
-- Name: directorio_contactos fk_directorio_organo_valido; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.directorio_contactos
    ADD CONSTRAINT fk_directorio_organo_valido FOREIGN KEY (id_institucion, id_tipo_organo) REFERENCES public.institucion_organos(id_institucion, id_tipo_organo) ON DELETE CASCADE;


--
-- Name: informes fk_informe_institucion_organo; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.informes
    ADD CONSTRAINT fk_informe_institucion_organo FOREIGN KEY (id_institucion, id_tipo_organo) REFERENCES public.institucion_organos(id_institucion, id_tipo_organo);


--
-- Name: informes fk_informe_tipo; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.informes
    ADD CONSTRAINT fk_informe_tipo FOREIGN KEY (id_tipo_informe) REFERENCES public.tipos_informe(id_tipo_informe);


--
-- Name: instituciones fk_institucion_naturaleza; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.instituciones
    ADD CONSTRAINT fk_institucion_naturaleza FOREIGN KEY (id_naturaleza) REFERENCES public.naturalezas(id_naturaleza);


--
-- Name: instituciones fk_institucion_naturaleza_juridica; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.instituciones
    ADD CONSTRAINT fk_institucion_naturaleza_juridica FOREIGN KEY (id_naturaleza_juridica) REFERENCES public.naturalezas_juridicas_desglose(id_naturaleza_juridica);


--
-- Name: instituciones fk_institucion_ramo; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.instituciones
    ADD CONSTRAINT fk_institucion_ramo FOREIGN KEY (id_ramo) REFERENCES public.ramos(id_ramo);


--
-- Name: instituciones fk_institucion_responsable; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.instituciones
    ADD CONSTRAINT fk_institucion_responsable FOREIGN KEY (id_responsable) REFERENCES public.responsables(id_responsable);


--
-- Name: tipos_organo_gobierno fk_padre_organo; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.tipos_organo_gobierno
    ADD CONSTRAINT fk_padre_organo FOREIGN KEY (id_padre) REFERENCES public.tipos_organo_gobierno(id_tipo_organo);


--
-- Name: recomendaciones fk_recomendacion_informe; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.recomendaciones
    ADD CONSTRAINT fk_recomendacion_informe FOREIGN KEY (id_informe) REFERENCES public.informes(id_informe) ON DELETE SET NULL;


--
-- Name: recomendaciones fk_recomendacion_institucion_organo; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.recomendaciones
    ADD CONSTRAINT fk_recomendacion_institucion_organo FOREIGN KEY (id_institucion, id_tipo_organo) REFERENCES public.institucion_organos(id_institucion, id_tipo_organo);


--
-- Name: sesiones fk_sesion_institucion_organo; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.sesiones
    ADD CONSTRAINT fk_sesion_institucion_organo FOREIGN KEY (id_institucion, id_tipo_organo) REFERENCES public.institucion_organos(id_institucion, id_tipo_organo);


--
-- Name: sesiones fk_sesion_tipo; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.sesiones
    ADD CONSTRAINT fk_sesion_tipo FOREIGN KEY (id_tipo_sesion) REFERENCES public.tipos_sesion(id_tipo_sesion);


--
-- Name: institucion_tipo_informe_valido fk_valido_institucion; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.institucion_tipo_informe_valido
    ADD CONSTRAINT fk_valido_institucion FOREIGN KEY (id_institucion) REFERENCES public.instituciones(id_institucion) ON DELETE CASCADE;


--
-- Name: institucion_tipo_informe_valido fk_valido_tipo_informe; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.institucion_tipo_informe_valido
    ADD CONSTRAINT fk_valido_tipo_informe FOREIGN KEY (id_tipo_informe) REFERENCES public.tipos_informe(id_tipo_informe) ON DELETE CASCADE;


--
-- Name: institucion_organos fk_vinculo_institucion; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.institucion_organos
    ADD CONSTRAINT fk_vinculo_institucion FOREIGN KEY (id_institucion) REFERENCES public.instituciones(id_institucion) ON DELETE CASCADE;


--
-- Name: institucion_organos fk_vinculo_organo; Type: FK CONSTRAINT; Schema: public; Owner: cocodi_user
--

ALTER TABLE ONLY public.institucion_organos
    ADD CONSTRAINT fk_vinculo_organo FOREIGN KEY (id_tipo_organo) REFERENCES public.tipos_organo_gobierno(id_tipo_organo) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Oye7p8cf48rYf8YpTRCr7yJbFQBlbZSpQMDVuOTqHHi9flcDePzEB1j1IvWZyDq

